<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../../static/js/jquery.js"></script>
    <script>
        $(function () {
            $('#send').click(function () {
                $.get('/test/aaa.do',{
                    username : $('#username').val(),
                    content : $('#content').val()
                },function (data) {
                    var id = data.id;
                    var name = data.name;
                    var name1 = data.users[0].name;
                    alert(name1);
                },'json');
            });
        });
    </script>
</head>
<body>
    <form id="form1">
        <p>评论:</p>
        <p>姓名: <input type="text" name="username" id="username" /></p>
        <p>内容: <textarea name="content" id="content" ></textarea></p>
        <p><input type="button" id="send" value="提交"/></p>
    </form>
</body>
</html>